{{ extends "layout.html" }}

{{define "content"}}
{{template "page-title" .data}}
{{template "error-block" .data}}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="file" class="form-control" id="files" name="files" accept=".json" required>
        <div class="form-text">Upload a JSON file containing bookmarks.</div>
    </div>

    <!-- warning about that there is not uniqueness for bookmars and duplicated can be created -->
    <div class="alert alert-warning">
        <p>Note: Bookmarks are not unique, so importing a file with existing bookmarks will create duplicates.</p>
        <p>Ensure that the file you are importing does not contain bookmarks that already exist in your collection.</p>
    </div>

    <a href="/bookmarks" class="btn btn-outline-secondary">To Bookmarks</a>
    <button type="submit" class="btn btn-outline-primary">Import</button>
</form>

{{if $.data.Errors}}<div class="alert alert-warning mt-3">
    <ul>
        {{range $item := $.data.Errors}}
        <li>{{$item}}</li>
        {{end}}
    </ul>
</div>{{end}}

{{if .data.Imported}}<div class="alert alert-success mt-3">
    <p>{{.data.Imported}} files imported successfully. Check above for related logs.</p>
</div>{{end}}
{{end}}