{{ extends "layout.html" }}

{{define "content"}}
{{template "page-title" .data}}
{{template "error-block" .data}}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="file" class="form-control" id="files" name="files" accept=".json" required>
        <div class="form-text">Upload a JSON file containing secrets.</div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label label">Please enter the password that was used to encrypt the secrets file.</label>
        <input type="text" class="form-control" name="password" id="password" required>
    </div>

    <a href="/secrets" class="btn btn-outline-secondary">To Secrets</a>
    <button type="submit" class="btn btn-outline-primary">Import</button>
</form>

{{if $.data.Errors}}<div class="alert alert-warning mt-3">
    <ul>
        {{range $item := $.data.Errors}}
        <li>{{$item}}</li>
        {{end}}
    </ul>
</div>{{end}}

{{if .data.Imported}}<div class="alert alert-success mt-3">
    <p>{{.data.Imported}} files imported successfully. Check above for related logs.</p>
</div>{{end}}
{{end}}