{{ extends "layout.html" }}

{{define "content"}}
<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-12"></div>
    <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="card mt-4">
            <div class="card-header">
                {{template "page-title" .data}}
            </div>
            <div class="card-body">
                <!-- output block -->
                <div class="mb-3">
                    <input class="form-control" id="passOut" placeholder="Your password will appear here" readonly>
                </div>
                <!-- for with fields: password length, include upper-case, include numbers, include spec characters -->
                <div class="mb-3">
                    <label class="form-label" for="len">Password Length</label>
                    <input type="number" class="form-control" id="len" value="16" min="8" max="64">
                </div>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="upper" checked>
                    <label class="form-check-label" for="upper">Include Upper-case Letters</label>
                </div>
                <div class="mb-1 form-check">
                    <input type="checkbox" class="form-check-input" id="nums" checked>
                    <label class="form-check-label" for="nums">Include Numbers</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="special" checked>
                    <label class="form-check-label" for="special">Include Special Characters</label>
                </div>

                <button class="btn btn-outline-primary" id="generate">Generate</button>
                <button class="btn btn-outline-secondary" id="reset">Reset</button>
                <button class="btn btn-outline-secondary" onclick="navigator.clipboard.writeText(document.getElementById('passOut').value)">Copy</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "custom_js"}}
<script src="/assets/js/secrets/generator.js"></script>
{{end}}
