{{ extends "layout.html" }}
{{define "content"}}<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-12"></div>
    <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="card mt-4">
            <div class="card-header">
                <h4 class="card-title">Method is Not Allowed</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    The HTTP method you are trying to use is not allowed for this resource.
                </p>
                <a href="/" class="btn btn-link">
                    Visit Home Page
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-12"></div>
</div>{{end}}