{{ extends "layout.html" }}

{{define "custom_css"}}
<link rel="stylesheet" href="/assets/css/tagify.css">
<style>
    input#password[type=text] {
        font-style: italic;
        color: #999;
        font-weight: bold;
    }
    .input-group-text {
        line-height: 1.1;
        border-radius: 0;
    }
    .input-group > .input-group-text {
        width: 5rem;
        font-size: 0.875rem;
    }
    @media (min-width: 992px) {
        #tag-list,
        #secrets-list {
            height: 74vh;
            overflow-y: auto;
        }
    }
</style>
{{end}}

{{define "content"}}
{{template "page-title" .data}}
{{template "error-block" .data}}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2 border-end mb-2">
        <h6>
            Tags {{if .data.TagsCount}}({{.data.TagsCount}}){{end}}
        </h6>
        <div class="list-group list-group-flush overflow-auto" id="tag-list">
            {{range .data.Tags}}
            <a href="/secrets?tag={{.}}"
                class="list-group-item d-flex justify-content-between align-items-center p-1 {{if eq . $.data.Query.Tag}}list-group-item-primary{{end}}">
                {{.}}
                {{if eq . $.data.Query.Tag}}
                <span class="badge bg-primary rounded-pill">{{$.data.ItemsCount}}</span>
                {{end}}
            </a>
            {{end}}
        </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-10 overflow-auto" id="anchor-content">
        <div id="secret-create-form">
            <div class="my-1 input-group">
                <span class="input-group-text">Name</span>
                <input type="text"
                       autocomplete="off"
                       autofocus
                       class="form-control form-control-sm"
                       name="name"
                       id="name"
                       maxlength="128"
                       required
                       placeholder="Name">
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text">User</span>
                    <input type="text"
                        autocomplete="off"
                        class="form-control form-control-sm"
                        name="username_value"
                        id="username"
                        maxlength="128"
                        placeholder="Username">
                    <span class="btn btn-sm btn-outline-secondary" id="btn-copy-username" title="Copy to clipboard">
                        <i class="bi bi-clipboard"></i>
                    </span>
                </div>
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input type="password"
                        autocomplete="off"
                        class="form-control form-control-sm"
                        name="secret_value"
                        id="password"
                        maxlength="4096"
                        required
                        placeholder="Password">
                    <span class="btn btn-sm btn-outline-secondary" id="btn-copy-password" title="Copy to clipboard">
                        <i class="bi bi-clipboard"></i>
                    </span>
                    <span class="btn btn-sm btn-outline-danger"
                          title="Reveal the password"
                          id="btn-show-password">
                        <i class="bi bi-eye"></i>
                    </span>
                </div>
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text">URL</span>
                    <input type="url"
                        autocomplete="off"
                        class="form-control form-control-sm"
                        name="url"
                        id="url"
                        maxlength="4096"
                        placeholder="Url">
                </div>
            </div>
            <div class="mb-1 input-group">
                <span class="input-group-text">
                    <label for="tag_id" class="form-label m-0">Tag</label>
                </span>
                <input type="text" class="form-control form-control-sm" autocomplete="off"
                        value="{{.data.Query.Tag}}"
                        id="tags" placeholder="Tags (comma- or space-separated)">
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control form-control-sm"
                          name="description"
                          maxlength="4096"
                          id="description"
                          placeholder="Description"
                          rows="4"></textarea>
            </div>
            
            <button type="submit" class="btn btn-sm btn-primary" id="add-item">Save</button>
        </div>
    </div>
</div>
{{end}}

{{define "custom_js"}}
<script src="/assets/js/tagify.min.js"></script>
<script src="/assets/js/tagify.polyfills.min.js"></script>
<script src="/assets/js/secrets/create.js"></script>
{{end}}