{{ extends "layout.html" }}

{{define "content"}}
{{template "page-title" .data}}
{{template "error-block" .data}}
<form method="post">
    <div class="mb-3">
        <p class="alert alert-info">
            The <strong>following password will be used to encrypt the exported secrets</strong>.
            Please ensure you save it somewhere safe, as it will be required to import the secrets back.
        </p>
        <input type="text" class="form-control" disabled
            value="{{.data.Password}}" name="auth-key" required>
        <input type="hidden" name="password" value="{{.data.Password}}" required>
    </div>

    <a href="/secrets" class="btn btn-outline-secondary">Back</a>
    <button type="submit" class="btn btn-outline-primary">Export</button>
</form>
{{end}}