{{ extends "layout.html" }}

{{define "custom_css"}}
<link rel="stylesheet" href="/assets/css/select2.min.css">
<link rel="stylesheet" href="/assets/css/tagify.css">
<style>
    input#password[type=text] {
        font-style: italic;
        color: #999;
        font-weight: bold;
    }
    .input-group-text {
        line-height: 1.1;
        border-radius: 0;
    }
    .input-group > .input-group-text {
        width: 5rem;
        font-size: 0.875rem;
    }
    /* only on larger screens */
    @media (min-width: 992px) {
        #tag-list,
        #secrets-list {
            height: 74vh;
            overflow-y: auto;
        }
    }
    /* on smaller screens the lists must be shorter */
    @media (max-width: 767px) {
        #tag-list,
        #secrets-list {
            max-height: 25vh;
            overflow-y: auto;
        }
        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
    }
</style>
{{end}}

{{define "js-search-box"}}
<span class="m-1">
    <input type="text" class="js-search-secrets" multiple="multiple">
</span>
{{end}}

{{define "content"}}
{{template "page-title" .data}}
{{template "error-block" .data}}
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 border-end mb-2">
        <h6>
            Tags {{if .data.TagsCount}}
            <a title="Password Generator" class="btn btn-sm float-end mx-1 p-0"
                href="/secret-generator" rel="noopener noreferrer">
                <i class="bi bi-key"></i>
            </a>
            ({{.data.TagsCount}})
            <a title="Export Secrets" class="btn btn-sm float-end mx-1 p-0"
                href="/export/secrets" rel="noopener noreferrer">
                <i class="bi bi-cloud-download"></i>
            </a>
            {{end}}
        </h6>
        <div class="list-group list-group-flush overflow-auto" id="tag-list">
            {{range .data.Tags}}
            <a href="/secrets?tag={{.}}"
                class="list-group-item d-flex justify-content-between align-items-center p-1 {{if eq . $.data.Query.Tag}}list-group-item-primary{{end}}">
                {{.}}
                {{if eq . $.data.Query.Tag}}
                <span class="badge bg-primary rounded-pill">{{$.data.ItemsCount}}</span>
                {{end}}
            </a>
            {{end}}
        </div>
    </div>

    <div class="col-sm-6 col-md-8 col-lg-3 overflow-auto border-end mb-2" id="anchor-items">
        <h6>
            Items <a class="btn btn-sm btn-outline-primary py-0 mx-1 px-1"
                title="Create a secret" href="/secret/create?tag={{.data.Query.Tag}}">
                <i class="bi bi-plus"></i>
            </a>
        </h6>
        <div class="list-group list-group-flush overflow-auto" id="secrets-list">
            {{range .data.Items}}
            <a href="/secrets?secret_id={{.ID}}&tag={{$.data.Query.Tag}}"
                title="{{.Name}}"
                class="list-group-item list-group-item-action p-1 {{if eq .ID $.data.Query.SecretID}}list-group-item-primary{{end}}">
                <span class="flex-grow-1 overflow-hidden text-truncate">
                    {{.Name}}
                </span>
                {{if eq .ID $.data.Query.SecretID}}
                <span>
                    <span class="btn btn-sm btn-outline-danger float-end ms-1 py-0 btn-del-list-secret"
                            title="Delete Secret" data-id="{{.ID}}" data-name="{{.Name}}">
                        <i class="bi bi-trash"></i>
                    </span>
                </span>
                {{end}}
            </a>
            {{end}}
        </div>
    </div>

    {{if and .data.Item .data.Item.ID}}
    <div class="col-sm-12 col-md-12 col-lg-6 overflow-auto" id="anchor-content">
        <div id="update-secret-form">
            <div class="mb-1 input-group">
                <span class="input-group-text">Name</span>
                <input type="text"
                       autocomplete="off"
                       class="form-control form-control-sm"
                       name="name"
                       id="name"
                       maxlength="128"
                       required
                       value="{{.data.Item.Name}}"
                       placeholder="Name">
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text">User</span>
                    <input type="text"
                        autocomplete="off"
                        class="form-control form-control-sm"
                        name="username_value"
                        id="username"
                        maxlength="128"
                        value="{{.data.Item.Username}}"
                        placeholder="Username">
                    <span class="btn btn-sm btn-outline-secondary" id="btn-copy-username" title="Copy to clipboard">
                        <i class="bi bi-clipboard"></i>
                    </span>
                </div>
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input type="password"
                        autocomplete="off"
                        class="form-control form-control-sm"
                        name="secret_value"
                        id="password"
                        maxlength="4096"
                        required
                        value="{{.data.Item.Password}}"
                        placeholder="Password">
                    <span class="btn btn-sm btn-outline-secondary" id="btn-copy-password" title="Copy to clipboard">
                        <i class="bi bi-clipboard"></i>
                    </span>
                    <span class="btn btn-sm btn-outline-danger"
                          title="Reveal the password"
                          id="btn-show-password">
                        <i class="bi bi-eye"></i>
                    </span>
                </div>
            </div>
            <div class="mb-1">
                <div class="input-group">
                    <span class="input-group-text">URL</span>
                    <input type="url"
                        autocomplete="off"
                        class="form-control form-control-sm"
                        name="url"
                        id="url"
                        maxlength="4096"
                        value="{{.data.Item.URL}}"
                        placeholder="Url">
                    {{if .data.Item.URL}}
                    <span class="btn btn-sm btn-outline-success"
                          id="btn-open-url"
                          title="Open URL in a new tab"
                          onclick="window.open(document.getElementById('url').value, '_blank')">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </span>
                    {{end}}
                </div>
            </div>
            <div class="mb-1 input-group">
                <span class="input-group-text">
                    <label for="tag_id" class="form-label m-0">Tag</label>
                </span>
                <input type="text" class="form-control form-control-sm" autocomplete="off"
                            value="{{.data.Item.Tags | commaSeparated}}"
                            id="tags" placeholder="Tags (comma- or space-separated)">
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control form-control-sm"
                          name="description"
                          maxlength="4096"
                          id="description"
                          placeholder="Description"
                          rows="4">{{.data.Item.Description}}</textarea>
            </div>

            <input type="hidden" name="secret_id" id="secret-id" value="{{.data.Item.ID}}">
            
            <button type="submit" class="btn btn-sm btn-primary" id="btn-update">Save</button>
        </div>
    </div>
    {{end}}
</div>
{{end}}

{{define "custom_js"}}
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/tagify.min.js"></script>
<script src="/assets/js/tagify.polyfills.min.js"></script>
<script src="/assets/js/secrets/index.js"></script>
{{if and .data.Item .data.Item.ID}}<script src="/assets/js/secrets/index-existing.js"></script>{{end}}
{{end}}