{{ extends "layout.html" }}

{{define "content"}}
{{template "page-title" .data}}
{{template "error-block" .data}}
{{if .data.Success}}
    <p class="alert alert-success">
        {{.data.Success}}
    </p>
    <p class="alert alert-info">
        Now, please navigate to <a href="/secrets">secrets</a> and check if everything is working as expected.
    </p>
{{else}}
<form method="post">
    <div class="mb-3">
        <p class="alert alert-info">
            Your secrets will be re-encrypted with a new key. <strong>It is important to note
            that this will not change your password</strong>, but rather the encryption key itself.
            This is useful if you suspect that your current key has been compromised or if you
            simply want to enhance the security of your secrets.
        </p>
        <p class="alert alert-warning">
            We <strong>strongly recommend you to <a href="/export/secrets">export</a> your secrets before rotating the key</strong>. It will allow you to
            restore them in case of any issues during the rotation process.
        </p>
    </div>

    <a href="/secrets" class="btn btn-outline-secondary">Back</a>
    <button type="submit" class="btn btn-outline-primary">Rotate</button>
</form>
{{end}}
{{end}}