{{ extends "layout.html" }}

{{define "content"}}
{{template "error-block" .data}}
{{template "success-block" .data}}
{{template "page-title" .data}}
<div class="row mb-2">
    <div class="col-lg-4 col-md-2"></div>
    <div class="col-lg-4 col-md-8">
        <form method="post">
            <div class="mb-3">
                <label for="current_password" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="current_password" name="current_password" required>
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <button type="submit" class="btn btn-outline-primary">Change Password</button>
        </form>
    </div>
</div>
{{end}}